/* html{
        font-size: 62.5%;

}
    esto me permite conseguir 10px = 1rem sin eso 16px = 1rem*/

/* h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 30px dotted black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    max-width: 100%;
}

body {
    background-color: #f86464;
}

.h5azul {
    color: white;
    background-color: blue;
}

#projo {
    color: white;
    background-color: red;
}

.hola1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

#hola2 {
    color: lightblue;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

h6 {
     color: aquamarine;
     text-transform: uppercase;
     font-size: 3rem;
     text-align: center;
}

.test p {
    color: darkseagreen;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

[src="img/11641893944_banner_zona_centro.png"] {
    padding: 2rem;
    margin: 300px;

}

.test>a {
    color: aquamarine;
}

#hola2, [src="img/11641893944_banner_zona_centro.png"] {
    color: greenyellow;
} */
:root {
    --colorPrincipal: rgb(247, 102, 102);
    --colorSecundario: rgb(2, 5, 47);
    --fuentePrincipal: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}

/* ESTILOS GENERICOS */

.contenedor {
    max-width: 87%;
    margin: 0 auto 0 auto;

}


/* ESTILOS DEL MAIN */

.fondoMain {
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    color: #Ffffff;
    background-position: top left;
    padding: 80px 0 180px 0;
}

.margenderecho {
    margin-right: 30%;
}

h1 {
    background-color: rgb(247, 102, 102, 0.65);
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 10px;
    padding: 35px;

}

.fondoMain a {
    background-color: #000;
    color: #Ffffff;
    border-radius: 0px;
    padding: 24px 94px;
    text-transform: uppercase;
    font-family: "DinBold", sans-serif;
    font-size: 1.40rem;
    font-weight: 700;
    text-decoration: none;

}

.fondoMain a:hover {
    background-color: #Ffffff;
    color: var(--colorPrincipal);
    border-color: var(--colorPrincipal);
    border: 2px solid;
}

.flexMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ESTILOS DE SECCION LOGOS OFICIALES */

.logosoficiales {
    background-color: #Ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -110px;
    border-radius: 15px;
}

/* SECCION ESTILOS DE CURSOS */

.cursos>h3 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    color: var(--colorPrincipal);
    font-size: 1.7rem;
    font-weight: 800;
    margin: 40px 0px;
}

.cursos>h2 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    color: var(--colorSecundario);
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 70px;
}

.botonescurso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;

}

.botonrosa {
    background-color: var(--colorPrincipal);
    padding: 12px 24px;
    color: #Ffffff;
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}

.botonblanco {
    background-color: #Ffffff;
    padding: 12px 24px;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    border: 1px solid;
    border-color: var(--colorPrincipal);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}


.tiposdecursos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}

.tiposdecursos>div {
    color: #Ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    font-family: var(--fuentePrincipal);
    min-height: 300px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    flex: 2;
    max-width: 50%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.marketing {
    background-image: url(../img/Curso-marketing-digital-centro.png);
    margin-right: 15px;
    margin-bottom: 22px;
}

.videojuegos {
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    margin-left: 15px;
    margin-bottom: 22px;
}

.tiposdecursos a {
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    font-family: "DinBold", sans-serif;
    padding: 20px 60px;
    background-color: #Ffffff;
    border: 2px solid #Ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.tiposdecursos a:hover {
    background-color: var(--colorPrincipal);
    text-decoration: underline;
    color: #Ffffff;
}



/* ESTILOS DE SECCION PIDENOSLO */

.pidenoslo {
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pidenoslo h3 {
    text-align: center;
    font-size: 1.7rem;
    color: var(--colorSecundario);
    font-weight: 800;
    margin-bottom: 42px;

}

.pidenoslo a {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #Ffffff;
    text-decoration: none;
    background-color: var(--colorPrincipal);
    border-radius: 96px;
    padding: 20px 40px;

}

.pidenoslo a:hover {
    background-color: var(--colorSecundario);
    text-decoration: underline;
}

/* ESTILOS SECCION VIDEO  */

.seccionvideo {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS */


.participantes h3 {
    color: var(--colorPrincipal);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
}

.participantes {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.participantes>div {
    flex: 1;
    max-width: 50%;

}

.paraQuienIzq {
    margin-right: 15px;
}


.participantes p {
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 25px;
    line-height: 1.5;
}

.paraQuienIzq h2 {
    font-size: 2.7rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    color: var(--colorSecundario);
    margin-bottom: 22px;
}

.participantes span {
    font-weight: 800;
}

.paraQuienIzq h4 {
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.8;
}

.paraQuienIzq a {
    color: var(--colorPrincipal);
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.paraQuienIzq h5 {
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--colorSecundario);
}

.paraQuienIzq .botonInfografia {
    background-color: var(--colorPrincipal);
    color: #Ffffff;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
}

.paraQuienDer {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 60px;
}

.paraQuienDerSup {
    background-color: var(--colorPrincipal);
    padding: 50px 30px;
}

.paraQuienDerSup h2 {
    font-size: 2.7rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    color: #Ffffff;
    margin-top: 0;
    margin-bottom: 10px;

}


.paraQuienDerSup .destacarAzul {
    color: var(--colorSecundario);
}

.paraQuienDerSup span {
    color: #000;
}

.paraQuienIzqInf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    margin-right: 30px;

}

.paraQuienIzqInf img {
    /* flex: 1; */
    width: 50px;
}


.paraQuienIzqInf h4 {
    flex: 1;
    max-width: 50%;
    background-color: #000;
    color: #Ffffff;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-size: 15px;
    font-weight: 200;
    padding: 30px 40px;
    text-align: center;
}

.paraQuienIzqInf span {
    color: var(--colorPrincipal);
}

/* ESTILOS LOCALIZACION */

.localizaciones {
    background-color: #000;
    color: #Ffffff;
    text-transform: uppercase;
    padding: 100px 0px;
}

.localizaciones>div {
    display: flex;
    font-family: var(--fuentePrincipal);
    background-color: #000;
    color: #Ffffff;
    text-transform: uppercase;
    padding: 50px 0px;
    justify-content: flex-start;
}

.localizaciones h5 {
    font-weight: 100;
}

.madridIzq {
    flex: 1;
    max-width: 25%;
}

.madridDer {
    flex: 1;
    max-width: 25%;
}

/* ESTILOS DUDAS Y NOSOTROS */

.fondocontactar {
    background-color: var(--colorPrincipal);
    color: #Ffffff;
    padding-top: 90px;
    padding-bottom: 130px;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
}

.fondocontactar .contenedor>h3 {
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 22px;
}


.fondocontactar .contenedor>h2 {
    font-weight: 800;
    margin-bottom: 50px;
}

.cajasContacto {
    display: flex;
    flex-direction: row;
}

.cajasContacto img {
    margin-right: 15px;
}

.cajaLlamar,
.cajaCorreo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;
    margin-right: 15px;
    border-radius: 0.55rem;
    background-color: #Ffffff;
    /* color: var(--colorSecundario);
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase; */

}

.cajasContacto h4 {
    color: var(--colorSecundario);
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 5px;
}

.cajasContacto a {
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: lowercase;
    text-decoration: none;

}


/* ESTILOS FOOTER */


/* ESTILOS FORM */

/* .letrarosa {
    color: var(--colorPrincipal);
}

.letraazul{
    color: var(--colorSecundario);
}

.boton1 {
    background-color: var(--colorPrincipal);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
}

.boton2{
    background-color: var(--colorPrincipal);
    color: white;
    padding: 2rem 4rem;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
} */