/* html{
        font-size: 62.5%;

}
    esto me permite conseguir 10px = 1rem sin eso 16px = 1rem*/

/* h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 30px dotted black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    max-width: 100%;
}

body {
    background-color: #f86464;
}

.h5azul {
    color: white;
    background-color: blue;
}

#projo {
    color: white;
    background-color: red;
}

.hola1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

#hola2 {
    color: lightblue;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

h6 {
     color: aquamarine;
     text-transform: uppercase;
     font-size: 3rem;
     text-align: center;
}

.test p {
    color: darkseagreen;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

[src="img/11641893944_banner_zona_centro.png"] {
    padding: 2rem;
    margin: 300px;

}

.test>a {
    color: aquamarine;
}

#hola2, [src="img/11641893944_banner_zona_centro.png"] {
    color: greenyellow;
} */
:root {
    --colorPrincipal: rgb(247, 102, 102);
    --colorSecundario: rgb(2, 5, 47);
    --fuentePrincipal: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}

/* ESTILOS GENERICOS */

.contenedor{
    max-width: 87%;
    margin: 0 auto 0 auto;
    
}


/* ESTILOS DEL MAIN */

.fondoMain {
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    color: #Ffffff;
    background-position: top left;
    padding: 80px 0 180px 0;
}

.margenderecho {
    margin-right: 30%;
}

h1 {
    background-color: rgb(247, 102, 102, 0.65);
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 10px;
    padding: 35px;

}

.fondoMain a {
    background-color: #000;
    color: #Ffffff;
    border-radius: 0px;
    padding: 24px 94px;
    text-transform: uppercase;
    font-family: "DinBold", sans-serif;
    font-size: 1.40rem;
    font-weight: 700;
    text-decoration: none;

}

.flexMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ESTILOS DE SECCION LOGOS OFICIALES */

.logosoficiales {
    background-color: #Ffffff;
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -110px;
    border-radius: 15px;
}

/* SECCION ESTILOS DE CURSOS */

.cursos>h3{
    text-align: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    color: var(--colorPrincipal);
    font-size: 1.7rem;
    font-weight: 800;
    margin: 40px 0px;
}

.cursos>h2{
    text-align: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    color: var(--colorSecundario);
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 70px;
}

.botonescurso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.botonrosa{
    background-color: var(--colorPrincipal);
    padding: 15px 30px 15px 30px;
    color: #Ffffff;
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0.5rem;
}

.botonblanco {
    background-color: #Ffffff;
    padding: 15px 30px 15px 30px;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0.5rem;
}

/* ESTILOS DE SECCION PIDENOSLO */


/* ESTILOS SECCION VIDEO  */


/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS */


/* ESTILOS LOCALIZACION */

.localizaciones {
    background-color: #000;
}

/* ESTILOS DUDAS Y NOSOTROS */


/* ESTILOS SECCION CONTACTOS */


/* ESTILOS FOOTER */


/* ESTILOS FORM */

/* .letrarosa {
    color: var(--colorPrincipal);
}

.letraazul{
    color: var(--colorSecundario);
}

.boton1 {
    background-color: var(--colorPrincipal);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
}

.boton2{
    background-color: var(--colorPrincipal);
    color: white;
    padding: 2rem 4rem;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
} */