/* selector de elementos */

h1 {
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de clase */

.selectclase {
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de ID */

#selectid {
    color: blue;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de atributo */

[src="../ProyectoInicio/img/Logo-Adecco.png"] {
    margin: 500px;
}

/* selector cadena ascendente */

.seccioncadena h4 {
    color: pink;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

/* selector todos los hijos */

.seccionhijos>h5 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}


/* selector multiple */

.selectormultiple h3, .selectormultiple h6 {
    color: purple;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.fondoazul{
    background-color: blue;
    height:  100px;
}

.fondoamarillo {
    background-color: yellow;
    height: 300px;
}

.contenedor {
    max-width: 85%;
    margin: 0 auto 0 auto;
}