/* selector de elementos */

/* h1 {
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de clase */

/* .selectclase {
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de ID */

#selectid {
    color: blue;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de atributo */

[src="../ProyectoInicio/img/Logo-Adecco.png"] {
    margin: 500px;
}

/* selector cadena ascendente */


.seccioncadena h4 {
    color: pink;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

/* selector todos los hijos */

.seccionhijos>h5 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}


/* selector multiple */

.selectormultiple h3,
.selectormultiple h6 {
    color: purple;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.fondoazul {
    background-color: blue;
    height: 100px;
}

.fondoamarillo {
    background-color: yellow;
    height: 300px;
}

.contenedor {
    max-width: 85%;
    margin: 0 auto 0 auto;
}

.cadenadescendente h2 {
    background-color: blue;
    height: 100px;
}

.selectores>div>h2 {
    background-color: blue;
    height: 100px;
}


.ejerciciomargin {
    margin: 50px;
    background-color: yellow;
    height: 200PX;
}

.ejerciciopadding {
    padding: 50px;
    background-color: yellowgreen;
    height: 200PX;
    border: 30px solid;
}

.displayblock>p {
    background-color: palevioletred;
}

.displayblock a {
    background-color: aquamarine;
}

.displayblock h1 {
    background-color: bisque;
}

.displayblock h3 {
    background-color: blue;
}

.displayblock h6 {
    background-color: brown;
}

.displayblock div {
    background-color: cadetblue;
}



.displayinline p {
    background-color: palevioletred;
    display: inline;
}

.displayinline a {
    background-color: aquamarine;
    display: block;
}

.displayinline h1 {
    background-color: bisque;
    display: inline;
}

.displayinline h3 {
    background-color: blue;
    display: inline;
}

.displayinline h6 {
    background-color: brown;
    display: inline;
}

.displayinline div {
    background-color: cadetblue;
    display: inline;
}

.seccionrow {
    width: 300px;
    height: 300px;
    color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    background-color: green;

}

.seccioncolumn {
    width: 300px;
    height: 300px;
    color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    background-color: teal;
}

.seccion1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.repaso1 {
    background-color: aqua;
    display: flex;
    width: 20%;
    margin-left: 15PX;
    
}

.repaso2 {
    background-color: brown;
    display: flex;
    width: 30%;
    margin-left: 15PX;
}

.repaso3 {
    background-color: cadetblue;
    display: flex;
    margin-left: 15PX;
    width: 50%;
}

.seccion2 {
    display: block;
}

.repaso1punto2 {
    background-color: orchid;
    height: 100px;
}

.repaso2punto2 {
    background-color: deeppink;
    height: 200px;
}

p{
    margin: 0px;
}

.seccion3{
    display: flex;
}

.primerdiv{
    background-color: darksalmon;
    width: 40%;

}

.segundodiv{
    background-color: indianred;
    width: 60%;
    display: flex;
}

.segundodiv .parrafo{
    background-color: darksalmon;
    width: 30%;
    margin: 10px 10px;
}

.segundodiv p{
    width: 70%;
    background-color: bisque;
    margin: 10px 10px;
}

h3{
 height: 500px;
 background-color:antiquewhite
}

@media (max-width:360px){
    h3{
        background-color: darkgreen;
    }
}


@media (min-width:360px) and (max-width:616px){
    h3{
        background-color: indianred;
    }
}


@media (min-width:616px)and (max-width:933px){
    h3{
        background-color: paleturquoise;
    }
}


@media (min-width:933px) and (max-width:1131px){
    h3{
        background-color: darkkhaki;
    }
}


@media (min-width:1131px){
    h3{
        background-color: chocolate;
    }
}

.ejercicioAR{
    height: 500px;
    background-color: cornflowerblue;
    position: relative;
}

.ejercicioAR div{
    width: 30px;
    height: 30px;
    background-color: chartreuse;
    position: absolute;
    top: 250px;
    right: 100px;
    -webkit-box-shadow: 10px 10px 31px 32px rgba(67,135,19,1);
-moz-box-shadow: 10px 10px 31px 32px rgba(67,135,19,1);
box-shadow: 10px 10px 31px 32px rgba(67,135,19,1);
Copy Text
}


