/* selector de elementos */

h1 {
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de clase */

.selectclase {
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de ID */

#selectid {
    color: blue;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* selector de atributo */

[src="../ProyectoInicio/img/Logo-Adecco.png"] {
    margin: 500px;
}

/* selector cadena ascendente */

.seccioncadena h4 {
    color: pink;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

/* selector todos los hijos */

.seccionhijos>h5 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

div {
    background-color: #f76666;
    box-shadow: 10px 5px 20px;
    border-radius: 5px;
}

/* selector multiple */

.selectormultiple h3, .selectormultiple h6 {
    color: purple;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}