:root {
    --colorPrincipal: #7858DD;
    --colorSecundario: #EF9614;
    --colorTercero: #9A82C1;
    --fuentePrimaria: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fuenteSecundaria: 'Young Serif', serif;
    /* --gradienteRadial: background: rgba(242,175,74,1);
   background: -moz-radial-gradient(center, ellipse cover, rgba(242,175,74,1) 0%, rgba(242,175,74,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 84%);
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(242,175,74,1)), color-stop(0%, rgba(242,175,74,1)), color-stop(69%, rgba(255,255,255,1)), color-stop(84%, rgba(255,255,255,1)));
   background: -webkit-radial-gradient(center, ellipse cover, rgba(242,175,74,1) 0%, rgba(242,175,74,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 84%);
   background: -o-radial-gradient(center, ellipse cover, rgba(242,175,74,1) 0%, rgba(242,175,74,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 84%);
   background: -ms-radial-gradient(center, ellipse cover, rgba(242,175,74,1) 0%, rgba(242,175,74,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 84%);
   background: radial-gradient(ellipse at center, rgba(242,175,74,1) 0%, rgba(242,175,74,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 84%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2af4a', endColorstr='#ffffff', GradientType=1 ); */
}

/* ESTILOS GENERICOS */

.contenedor {
    max-width: 90%;
    margin: 0 auto 0 auto;
}

.gradiente {
    background: rgba(235, 171, 82, 1);
    background: -moz-linear-gradient(-45deg, rgba(235, 171, 82, 1) 0%, rgba(239, 151, 20, 1) 24%, rgba(119, 88, 221, 1) 86%, rgba(119, 88, 221, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235, 171, 82, 1)), color-stop(24%, rgba(239, 151, 20, 1)), color-stop(86%, rgba(119, 88, 221, 1)), color-stop(100%, rgba(119, 88, 221, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(235, 171, 82, 1) 0%, rgba(239, 151, 20, 1) 24%, rgba(119, 88, 221, 1) 86%, rgba(119, 88, 221, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(235, 171, 82, 1) 0%, rgba(239, 151, 20, 1) 24%, rgba(119, 88, 221, 1) 86%, rgba(119, 88, 221, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(235, 171, 82, 1) 0%, rgba(239, 151, 20, 1) 24%, rgba(119, 88, 221, 1) 86%, rgba(119, 88, 221, 1) 100%);
    background: linear-gradient(135deg, rgba(235, 171, 82, 1) 0%, rgba(239, 151, 20, 1) 24%, rgba(119, 88, 221, 1) 86%, rgba(119, 88, 221, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebab52', endColorstr='#7758dd', GradientType=1);
}

.gradiente2 {
    background: rgba(119, 88, 221, 1);
    background: -moz-linear-gradient(-45deg, rgba(119, 88, 221, 1) 0%, rgba(119, 88, 221, 1) 11%, rgba(239, 151, 20, 1) 93%, rgba(239, 151, 20, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(119, 88, 221, 1)), color-stop(11%, rgba(119, 88, 221, 1)), color-stop(93%, rgba(239, 151, 20, 1)), color-stop(100%, rgba(239, 151, 20, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(119, 88, 221, 1) 0%, rgba(119, 88, 221, 1) 11%, rgba(239, 151, 20, 1) 93%, rgba(239, 151, 20, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(119, 88, 221, 1) 0%, rgba(119, 88, 221, 1) 11%, rgba(239, 151, 20, 1) 93%, rgba(239, 151, 20, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(119, 88, 221, 1) 0%, rgba(119, 88, 221, 1) 11%, rgba(239, 151, 20, 1) 93%, rgba(239, 151, 20, 1) 100%);
    background: linear-gradient(135deg, rgba(119, 88, 221, 1) 0%, rgba(119, 88, 221, 1) 11%, rgba(239, 151, 20, 1) 93%, rgba(239, 151, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7758dd', endColorstr='#ef9714', GradientType=1);
}

/* ESTILOS DEL HEADER */

.logoFitself a img {
    width: 100px;
    height: 100px;
}

.seccionHeader {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--colorPrincipal);
    text-transform: uppercase;
    justify-content: space-between;
    border-bottom: 1px solid var(--colorPrincipal);
    font-family:
}

.enlacesHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 75%;
    
}

.botonHeader a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 25px;
    text-decoration: none;
    color: var(--colorPrincipal);
    transition: 0.5s;
    font-size: 15px;
}

a:hover {
    color: var(--colorSecundario);
}


.logoFitself {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 25%;
    /* width: 100px;
    height: 100px; */
}

.logoFitself img {

    width: 100px;
    height: 100px;
}

@media (max-width:768px) {

    /* .logoFitself{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .seccionHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .enlacesHeader {
        margin-bottom: 15px;
    }

    .botonHeader a{
        font-size: 12px;
        margin-left: 8px;
    }

}

/* ESTILOS DE SECCION ESPACIO SEGURO */

.seccionEspacioSeguro {
    background-color: rgba(235, 171, 82, 1);
    /* font-family: var(--fuenteSecundaria); */
    /* height: 200px; */
    border-radius: 10px;
}

/* :hover{

    filter: blur(2px);
} */

.textosbanner {
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 30px;
    font-family: var(--fuenteSecundaria);
    font-weight: 500;
    margin: 0;
    line-height: 35px;
}

p {
    padding-top: 10px;
    margin: 0;
    font-size: 15px;
    font-family: var(--fuentePrimaria);
}

@media (max-width:768px) {
    .contenedor {
        max-width: 98%;
    }

    .textosbanner {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .h1 {
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
    }

    p {
        font-size: 12px;
        padding-top: 9px;
    }
}

/* ESTILOS DE SECCION BENEFICIOS */

.beneficios h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--fuentePrimaria);
    font-weight: 700;
    color: var(--colorPrincipal);
}

.gridBeneficios {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    height: 400px;
    align-items: center;
    /* margin-top: 5px; */
    margin-bottom: 60px;
}

.icono{
    width: 40px;
    height: 40px;

}

.cajaB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrimaria);
    text-align: center;
}

.cajaB h4 {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 700;
}

.caja4:hover{
    filter: blur(10px);
  transform: scale(0.9, 0.9);
}


@media (max-width:768px) {

    .beneficios h2 {
        font-size: 15px;
    }

    .icono{
        width: 25px;
        height: 25px;
        margin-top: 25px;
    }

    .gridBeneficios {
        display: flex;
        flex-direction: column;
        height: 450px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .cajaB h4 {
        font-size: 9px;
        margin-bottom: 3px;
        margin-top: 10px;
    }

    .cajaB p {
        margin-top: -5px;
        font-size: 11px;

    }
}

/* SECCION IMAGEN PLANES Y BOTON */

/* .imagenPlanes{
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(./img/gente-tiro-completo-entrenando-juntas-gimnasio.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 80px;
} */

.carrusel {
    display: flex;
    overflow: hidden;
}

.carrusel img {
    width: 100%;
    height: 350px;
    /* height: 500px; */
    /* Establece la altura fija en 500px */
    object-fit: cover;
    border-radius: 20PX;
}


/* .imagenPlanes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 250px;
    border-radius: 10px;
    overflow: hidden; 
    margin-bottom: 80px;
  } */


.botonPlanes {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    transform: scale(var(--escala, 1));
    transition: transform .25s;
}

.botonPlanes>.botonVerP {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var();
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--fuentePrimaria);
}

.botonPlanes:hover {
    --escala: 1.1;
    color: white;
}

@media (max-width:768px) {
    .carrusel {
        display: flex;
        overflow: hidden;
    }
    
    .carrusel img {
        width: 100%;
        height: auto;
        /* height: 500px; */
        /* Establece la altura fija en 500px */
        object-fit: cover;
        border-radius: 20PX;
    }

    .botonPlanes{
        margin-top: -40px;
    }

    .botonPlanes>.botonVerP {
        color: white;
        text-decoration: none;
        padding: 8px 12px;
        background-color: var();
        border-radius: 20px;
        font-size: 10px;
        text-transform: uppercase;
        font-family: var(--fuentePrimaria);
    }
}

/* SECCION FOOTER */

.footerFit h4 {
    font-size: 15px;
    color: var(--colorPrincipal);
    text-transform: capitalize;
    font-family: var(--fuentePrimaria);
    font-weight: 500;
    margin-top: 70px;
}

.footerFit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a {
    display: inline-block;
    padding-left: 5px;
}

a img {
    width: 25px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
}

.linkRedes:hover {
    opacity: 0.8;
    /* Cambia la opacidad al pasar el cursor sobre la imagen */
}

.linkPoliticas a{
    font-family: var(--fuentePrimaria);
    text-decoration: none;
    color: var(--colorPrincipal);
    margin-top: 20px;
    transition: 0.5s;
    font-size: 12px;
}

.linkPoliticas a:hover{
    color: var(--colorSecundario);
    
}

/* @media (max-with:768px) {
    .linkPoliticas a{
        display: flex;
        flex-direction: row;
    }
} */